.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0 30px 16px 0;
    padding: 16px;
    background-color: rgba(92, 96, 107, 0.25);
    color: #fff;
    &__cost {
        align-self: flex-end;
        padding: 4px 10px;
        background: rgba(250, 250, 250, 0.17);
    }
    &__icon {
        display: flex;
        width: 64px;
        height: 64px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
    }
    &__button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        bottom: 0;
        background-color: rgba(92, 96, 107, 0.5);
        backdrop-filter: blur(20px);
    }
    &:nth-child(3n) {
        margin: 0 0 16px 0;
    }
    &:hover {
        background-color: rgba(92, 96, 107, 0.55);
    }
}

.active {
    @extend .item;
    background: rgba(1, 119, 255, 0.25);
    .item__name {
        visibility: hidden;
    }
    &:hover {
        background: rgba(1, 119, 255, 0.3);
    }
}
